{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <link rel="stylesheet" href="{% static 'CSS/aboutt.css' %}">
</head>
<body>
<div class="lat">
    <header >
       <p class="logo">WHAT DOES KELV'S WEB SOLUTIONS ENTAIL?</p>
    </header>
<p class="links">
    <span class="up"><a href="">Home</a></span>
    <span class="up"><a href="/about/">About</a></span>
    <span class="up"><a href="/services/">Services</a></span>
    <span class="up"><a href="/contact/">Contact</a></span>
    <span class="up"><a href="/projects/">Projects</a></span>
</p>
</div>
<br><br>
<hr>
<hr>
<div>
    <h2 class="step">WHO AM I?</h2>
    <div class="cont">
    <div class="bout">
        <img src="{% static 'images/codes.jpg' %}" alt="">
    </div>
    <div class="bout ab">
        <p class="blut">Hey there,I'm <i>Kelvin Kemboi </i> and I'm an upcoming web developer.I hope to give
        quality services that satisfy my clients.Join me in crafting a website masterpiece
        that can make it worth your while.I have an arsenal of skills including but not
        limited to:</p>
        <ul class="arc">
            <li>Web development</li>
            <li>Android app development</li>
            <li>E-commerce development</li>
            <li>M-pesa integration services</li>
              </ul>
        <p>Please feel free to contact me for any pressing question.</p>
    </div>
        </div>
</div>
<br><br>
<hr>
<hr>
<div>
    <h2 class="quali">CURRENT QUALIFICATIONS</h2>
    <br><br>
    <table>
        <tr class="luffy">
            <th class="bo">Language</th>
            <th>Progress</th>
            <th>Proficiency</th>
            <th class="no">Taught by</th>
        </tr>
        <tr>
            <td>HTML</td>
            <td>Completed</td>
            <td>90%</td>
            <td>Ezra.O</td>
        </tr>
        <tr class="high">
            <td>CSS</td>
            <td>Completed</td>
            <td>80%</td>
            <td>Ezra.O</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>Basics</td>
            <td>60%</td>
            <td>Ezra.O</td>
        </tr>
        <tr class="high">
            <td>Bootstrap</td>
            <td>Mid</td>
            <td>50%</td>
            <td>Ezra.O</td>
        </tr>
         <tr>
            <td>Django</td>
            <td>Mid</td>
            <td>40%</td>
            <td>Ezra.O</td>
        </tr>
         <tr class="high">
            <td>JavaScript</td>
            <td>Mid</td>
            <td>30%</td>
            <td>Self</td>
        </tr>
    </table>
</div>
<br><br>
<hr>
<hr>
    <h2 class="quali">FOUNDER'S WORDS</h2>
    <br><br>
<div class="me">
    <div class="par">
        <img src="{% static 'images/me.jpg' %}" alt="">
    </div>
    <div class="quotes">
        <h3>Espaniol...</h3>
        <blockquote><q>Debes ser el cambio que deseas ver en el mundo.Estamos dedicados a brindarle un
        servicio tecnico WOW.</q></blockquote>
        <br>
        <h3>Ingles...</h3>
        <blockquote><q>You must be the change you want to see in the world.I am dedicated to giving
        you a techy WOW service that you can comfortably take home.</q></blockquote>
        <cite>-Kelvo</cite>
    </div>
</div>
<br><br>
<hr>
<hr>
<footer class="entry">
    <p>Follow on social media for more &#64;:<br>
     <span class="space">Whatsapp Instagram</span>
    </p>
    <p class="foot">&#169;      Copyrighted by Kelvin Kemboi</p>
</footer>
</body>
</html>