{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'CSS/cont.css' %}">
</head>
<body>
<div class="lat">
    <header >
       <p class="logo">CONTACT US TODAY!</p>
    </header>
<p class="links">
    <span class="up"><a href="">Home</a></span>
    <span class="up"><a href="/about/">About</a></span>
    <span class="up"><a href="/services/">Services</a></span>
    <span class="up"><a href="/contact/">Contact</a></span>
    <span class="up"><a href="/projects/">Projects</a></span>
</p>
</div>
<br><br><br>
<hr>
<hr>
    <h2 class="quali">BRIEF ME ON SOCIAL MEDIA</h2>
<div class="contact">
    <div class="email">
        <p class="arrow">&#9993; Email me<br>
            <hr>
            <a href="mailto:kemboikelvin@gmail.com">kemboikelvin185@gmail.com </a>
        </p>
    </div>
  <div class="whatsapp">
        <p  class="arrow">&#9742; Whatsapp/call me<br>
            <hr>
            <a href="tel:+254704426817">+254704426817</a><br>
            <a href="tel:+254783779581">+254783779581</a>
        </p>
    </div>
<div class="ig">
        <p  class="arrow">&#9993; Follow me on Intagram<br>
            <hr>
            <a href="mailto:@k.e.l.v.o">@k.e.l.v.o</a>
        </p>
    </div>
</div>
<br><br>
<hr>
<hr>
<h2 class="quali">VISIT ME DIRECTLY</h2>
<div>
   <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13223.229315753413!2d36.96353477394292!3d-1.4887453472711232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1713480283384!5m2!1sen!2ske" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br><br><br>
<hr>
<hr>
<footer class="back">
    <h3>I appreciate every feedback</h3>
    <form action="">
        <textarea class="feed" name="feedback" cols="30" rows="10" placeholder="Feedback"></textarea>
        <br>
        <input type="submit"value="Submit">
    </form>
    <h3>Please <a href="/form/"> sign up</a> to get updates on available services</h3>

</footer>
</body>
</html>