{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'CSS/projects.css' %}">
</head>
<body>
<div class="lat">
    <header >
       <p class="logo">PROJECTS</p>
    </header>
<p class="links">
    <span class="up"><a href="">Home</a></span>
    <span class="up"><a href="/about/">About</a></span>
    <span class="up"><a href="/services/">Services</a></span>
    <span class="up"><a href="/contact/">Contact</a></span>
    <span class="up"><a href="/projects/">Projects</a></span>
</p>
</div>
<fieldset class="set">
<legend><h2 class="quali">Check out my templates</h2></legend>
<br><br><br>
<div class="pros">
<div>
    <h3>Table template</h3>
    <table>
    <tr class="head">
        <td class="bo">#</td>
        <td>Name</td>
        <td >Class</td>
        <td>Language</td>
        <td class="no">Rank</td>
    </tr>
    <tr>
        <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
         <td>Kelvo</td>
         <td>Chrome</td>
         <td>English</td>
         <td>4</td>
    </tr>
    <tr class="sal">
           <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
          <td>Bianca</td>
         <td>Beta</td>
         <td>Kiswahili</td>
         <td>9</td>
    </tr>
    <tr>
           <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
          <td>Vlad</td>
         <td>Alpha</td>
         <td>Spanish</td>
         <td>23</td>
    </tr>
    <tr>
           <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
          <td>Reek</td>
         <td>Omega</td>
         <td>English</td>
         <td>12</td>
    </tr>
    <tr>
           <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
          <td>Domenic</td>
         <td>Selph</td>
         <td>Poland</td>
         <td>2</td>
    </tr>
    <tr>
           <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
          <td>Ezra</td>
         <td>Chrome</td>
         <td>Spanish</td>
         <td>12</td>
    </tr>
    <tr>
           <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
          <td>Doston</td>
         <td>Beta</td>
         <td>English</td>
         <td>8</td>
    </tr>
    <tr>
           <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
          <td>Rode</td>
         <td>Alpha</td>
         <td>English</td>
         <td>13</td>
    </tr>
    <tr>
           <td>
            <form action="">
                <input type="checkbox" name="1st">
            </form>
        </td>
          <td>Ramsees</td>
         <td>Delta</td>
         <td>Italian</td>
         <td>12</td>
    </tr>
</table>
</div>
<br><br>
<div class="morf">
    <h3>Form template</h3>
    <form action="" class="beat">
    <h2>Sign up</h2>
    <input class="first" type="text"  placeholder="First Name" autofocus autocomplete="Kelvin">
    <input class="first" type="text" placeholder="Last Name" required autocomplete="Kemboi"><br><br>
    <input class="ema" type="email" placeholder="Email" required autocomplete="kelvinkemboi@gmail.com"><br><br>
    <input class="ema" type="password" placeholder="Password" required autocomplete="123456"><br><br>
    <input class="ema" type="password" placeholder="Confirm password" required><br><br>
    <p class="log"><input  type="checkbox" required>  I accept the Terms of Use & Privacy Policy</p>
    <input class="sub" type="submit" value="Sign up"><br>
    <p class="now">Already have an account?<a href="http://">Login here</a></p>
    <p class="mel">Copyright  &#169;  KEV'S WEB</p>
</form>
</div>
    </div>
    </fieldset>
<br><br><br>
<footer class="entry">
    <h2 class="quali">Sorry, but I'm short on projects &#128514;</h2>
</footer>
</body>
</html>