{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'CSS/service.css' %}">
</head>
<body>
<div class="lat">
    <header >
       <p class="logo">MY SERVICES</p>
    </header>
<p class="links">
    <span class="up"><a href="">Home</a></span>
    <span class="up"><a href="/about/">About</a></span>
    <span class="up"><a href="/services/">Services</a></span>
    <span class="up"><a href="/contact/">Contact</a></span>
    <span class="up"><a href="/projects/">Projects</a></span>
</p>
</div>
<br><br>
<h2 class="quali">ACCESS QUALITY SERVICES FROM ME</h2>
<br><br>
<div class="main">
    <div class="trip">
        <div class="web">
            <img src="{% static 'images/webing.jpg' %}" alt="">
            <h3>WEB DEV</h3>
            <p>I offer quality website development services that guarantee your satisfaction</p>
            <a href="" class="more">More info</a>
        </div>
        <div class="web">
            <img src="{% static 'images/ecommerce.jpg' %}" alt="">
            <h3>ECOMMERCE DEV</h3>
            <p>Do you want a website that allows your customers to purchase online?Look no further.</p>
            <a href="" class="more">More info</a>
        </div>
        <div class="web">
            <img src="{% static 'images/app development.jpg' %}" alt="">
            <h3>MOBILE APP DEV</h3>
            <p>Build your own android mobile app with me and see amazing results</p>
            <a href="" class="more">More info</a>
        </div>
        <br><br><br><br><br>
    </div>
        <div class="trap">
        <div class="web">
            <img src="{% static 'images/piece.jpg' %}" alt="">
            <h3>WEB DESIGN</h3>
            <p>Let me help you design your own website that can help your business to grow.</p>
            <a href="" class="more">More info</a>
        </div>
        <div class="web">
            <img src="{% static 'images/fancy.jpg' %}" alt="">
            <h3>UI DESIGN</h3>
            <p>The best websites and applications require a user-friendly interface and I can help with that. </p>
            <a href="" class="more">More info</a>
        </div>
        <div class="web">
            <img src="{% static 'images/codes.jpg' %}" alt="">
            <h3>SEARCH ENGINE OPTIMISATION</h3>
            <p>I can make your websites easily accessible in the web whenever your customers search for it.</p>
            <a href="" class="more">More info</a>
        </div>
    </div>
</div>
<h2 class="quali">ENLIST WITH ME WITH LOW COSTS</h2>
<br><br><br>
<div class="price">
    <div class="others basic">
      <h2>KSH.30000</h2>
        <h3>BASIC PLAN</h3>
        <ul>
            <li>User-friendly</li>
            <li>Mpesa integration</li>
            <li>API integration</li>
            <li>For small businesses</li>
        </ul>
        <br><br><br><br><br>
        <a href="" class="confirm">Confirm plan</a>
    </div>
    <div class="others int">
        <h2>KSH.80000</h2>
        <h3>INTERMEDIATE PLAN</h3>
        <ul>
            <li>User-friendly</li>
            <li>Mpesa integration</li>
            <li>API integration</li>
            <li>Search Engine Optimisation</li>
            <li>For medium-sized businesses</li>
        </ul>
        <br><br><br><br><br>
        <a href="" class="confirm">Confirm plan</a>
    </div>
    <div class="others">
        <h2>KSH.150000</h2>
        <h3>ADVANCED PLAN</h3>
        <ul>
            <li>User-friendly</li>
            <li>Mpesa integration</li>
            <li>API integration</li>
            <li>Customized features</li>
            <li>Search Engine Optimisation</li>
            <li>For corporate businesses</li>
        </ul>
        <br><br><br><br>
        <a href="" class="confirm">Confirm plan</a>
    </div>
</div>
<br><br><br>
<footer class="entry">
    <p>Follow on social media for more &#64;:<br>
     <span class="space">Whatsapp Instagram</span>
    </p>
    <p class="foot">&#169;      Copyrighted by Kelvin Kemboi</p>
</footer>
</body>
</html>